In [1]:
"i" not in "print"

False

In [2]:
2**2

4

In [3]:
3**2

9

In [4]:
4**2

16

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(0,10,2):
    print(i**2)

0
4
16
36
64

In [13]:
for i in range(10,101,10):
    print(i**2)

100
400
900
1600
2500
3600
4900
6400
8100
10000

In [15]:
n=int(input("Enter the number?"))
if n%2==0:
    print("It is even")
else:
    print("It is odd")

Enter the number?34
It is even

In [2]:
list=[10,"read",56,4.5,"IOI",45.6]
intlist=[]
strlist=[]
floatlist=[]
for i in list:
    if type(i)==str:
        strlist.append(i)
    elif type(i)==int:
        intlist.append(i)
    else:
        floatlist.append(i)
print(intlist,floatlist,strlist)

[10, 56] [4.5, 45.6] ['read', 'IOI']

In [3]:
intlist=[i for i in list if type(i)==int]
strlist=[i for i in list if type(i)==str]
floatlist=[i for i in list if type(i)==float]
print(intlist,floatlist,strlist)

[10, 56] [4.5, 45.6] ['read', 'IOI']

In [4]:
list[1][1]

'e'

In [8]:
def add(x,y):
    return(x+y)

In [10]:
add(2,4)

6

In [12]:
def separate(x):
    intlist=[i for i in x if type(i)==int]
    strlist=[i for i in x if type(i)==str]
    floatlist=[i for i in x if type(i)==float]
    return intlist,floatlist,strlist

In [13]:
print(separate([12,"the",9.56,56]))

([12, 56], [9.56], ['the'])

In [14]:
def recursum(n):
    if n<=1:
        return n
    return n+recursum(n-1)
n=10
print(recursum(n))

55

In [15]:
def recursive_fibonacci(n):
    if n <= 1:
        return n
    else:
        return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))
n_terms = 5
if n_terms <= 0:
    print("Invalid input ! Please input a positive value")
else:
    print("Fibonacci series:")
for i in range(n_terms):
    print(recursive_fibonacci(i))

Fibonacci series:
0
1
1
2
3

In [19]:
def recursive_fact(n):
    if n>=1:
        return n*(n-1)
    else:
        return("enter the valid number")
n=5
print(recursive_fact(n))

20

In [26]:
def gen_num(n):
    v=0
    while v<n:
        yield v
        v+=1
for v in gen_num(100):
    print(v)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [1]:
dict1={"Jay":[1998,"Hyderabad"],"Prajyot":[1995,"Hyderabad"],"Sudhil":[1989,"Delhi"],"Sonu":[1982,"Delhi"]}

In [2]:
dict1["Jay"]

[1998, 'Hyderabad']

In [4]:
count=0
for i in dict1.keys():
    print(i)

Jay
Prajyot
Sudhil
Sonu

In [5]:
count=0
for i in dict1.keys():
    if type(dict1[i])==list:
        count=count+1
count

4

In [10]:
x=50
y=0
try:
    x/y #ZeroDivisionError
except:
    print("Your code has error")
finally:
    print("Your code has run successfully")

Your code has error
Your code has run successfully

In [9]:
x=50
y=5
try:
    x/y #ZeroDivisionError
except:
    print("Your code has error")
else:
    print(x/y)
finally:
    print("Your code has run successfully")

10.0
Your code has run successfully

In [15]:
dict1={"Jay":[1998,"Hyderabad"],"Prajyot":[1995,"Hyderabad"],"Sudhil":[1989,"Delhi"],"Sonu":[1982,"Delhi"]}
import pandas as pd
df=pd.DataFrame(dict1)

In [14]:
df

         Jay    Prajyot Sudhil   Sonu
0       1998       1995   1989   1982
1  Hyderabad  Hyderabad  Delhi  Delhi

In [17]:
df.to_csv("dictionary.csv")

In [18]:
df.to_excel("dictionary.xlsx")

In [33]:
file=open("text1.txt",'w')
file.write("This is first line\n")
file.close()

In [34]:
file=open("text1.txt",'a')
file.write("This is second line\n")
file.close()

In [35]:
file=open("text1.txt",'r')
print(file.read())

This is first line
This is second line

In [36]:
with open("text1.txt",'r')as file:
    print(file.read())

This is first line
This is second line

In [37]:
with open("text1.txt",'r')as file:
    word_list=file.read().split()
    print(word_list)

['This', 'is', 'first', 'line', 'This', 'is', 'second', 'line']

In [38]:
for i in word_list:
    print(i,len(i))

This 4
is 2
first 5
line 4
This 4
is 2
second 6
line 4

In [43]:
#finding longest word
with open("text1.txt",'r')as file:
    word_list=file.read().split()
    print(word_list)
    len_word=[]
    for i in word_list:
        print(i,len(i))
        len_word.append(len(i))
print("Longest word is",max(word_list))

['This', 'is', 'first', 'line', 'This', 'is', 'second', 'line']
This 4
is 2
first 5
line 4
This 4
is 2
second 6
line 4
Longest word is second

In [44]:
def longest_word(file):
    with open(file,'r')as f:
        words=f.read().split()
        return(max(words,key=len))
print(longest_word("text1.txt"))

second

In [47]:
df=pd.read_csv("dictionary.csv")

In [48]:
df

   Unnamed: 0        Jay    Prajyot Sudhil   Sonu
0           0       1998       1995   1989   1982
1           1  Hyderabad  Hyderabad  Delhi  Delhi

In [55]:
t = lambda x:x**2

In [56]:
t(4)

16

In [58]:
l1=[2,4,5,7,8,9,11]
odd_num=list(filter(lambda i:i%2!=0,l1))
print(odd_num)

[5, 7, 9, 11]

In [74]:
fruit_list=[["Mango",200],["Grapes",140],["Apples",98]]
fruit_list.sort()#sort according to alphabets

In [68]:
fruit_list

[['Apples', 98], ['Grapes', 140], ['Mango', 200]]

In [70]:
fruit_list.sort(key=lambda i:i[1])#sort according to numbers
fruit_list

[['Apples', 98], ['Grapes', 140], ['Mango', 200]]

In [76]:
fruit_list.sort(key=lambda i:i[0])#sort according to alphabets
fruit_list

[['Apples', 98], ['Grapes', 140], ['Mango', 200]]